@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes disappear {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes dimension {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
}
@keyframes teeth {
    0% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(-50px);
    }
}
@keyframes nose {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes eyeRight {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-35deg);
    }
}